[submodule "asio"]
	path = src/deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "mariadb-connector-c"]
	path = src/deps/mariadb-connector-c
	url = https://github.com/mariadb-corporation/mariadb-connector-c.git
[submodule "libpq"]
	path = src/deps/libpq
	url = https://github.com/postgres/postgres
	shallow = true
